@font-face {
  font-family: 'DancingScriptRegular';
  src: url('./fonts/DancingScript-Regular.ttf');
}

@font-face {
  font-family: 'DancingScriptBold';
  src: url('./fonts/DancingScript-Bold.ttf');
}

@font-face {
  font-family: 'LoraRegular';
  src: url('./fonts/Lora-Regular.ttf');
}

.DancingScriptRegular {
  font-family: DancingScriptRegular;
}

.DancingScriptBold {
  font-family: DancingScriptBold;
}
